@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="we-are">
    <div class="container-full">
        <div class="row no-gutters">
            <div class="col-lg-6 col-md-6 col-sm-6 col-6 wow slideInLeft" data-wow-delay=".6s">
                <div class ="list-bt"></div>
                <div class ="list-lr"></div>
                <div class ="list-it"></div>
                <div class ="list-ib"></div>  
                <div class="we-are__left">                
                    <iframe id="reason_linkyoutube" width="560" height="315" src="#" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-6 wow slideInRight" data-wow-delay=".6s">
            <div class="we-are__right">
                <h1 class ="cl-gold">
                    Việt Nam Gia Phả
                </h1>
                <div style="text-align:justify" id="reason_reason">
                 
                </div>

            </div>
            </div>            
        </div>
        <div class ="break-item wow slideInUp" data-wow-delay=".6s"></div>
        <div class="row main-content wow slideInUp" data-wow-delay=".6s">
            <div class ="col-12">
                <p style="text-align:center"><img id="reason_imagethumbnail" alt="thiết kế biệt thự pháp" src="#" style="height:803px; width:1200px" /></p>
                <div id="reason_description"></div>
            </div>
        </div>
    </div>
</section>
    
@*<section class="parallax--slide-re-pro">
    <div class="section-content section-content--w1792">
        <div class="partner-wrap owl-carousel owl-theme" id="owl-partner">
            
                    <div class="partner__item item">
                        <a id="footer1_rpt_partner_HyperLink1_0"><img id="footer1_rpt_partner_Image1_0" class="img-responsive" src="~/upload/partner/dong-duong-2.png" alt="Đông dương" /></a>
                    </div>
                
                    <div class="partner__item item">
                        <a id="footer1_rpt_partner_HyperLink1_1"><img id="footer1_rpt_partner_Image1_1" class="img-responsive" src="~/upload/partner/dulux-65.png" alt="Dulux" /></a>
                    </div>
                
                    <div class="partner__item item">
                        <a id="footer1_rpt_partner_HyperLink1_2"><img id="footer1_rpt_partner_Image1_2" class="img-responsive" src="~/upload/partner/logo-euro-62.png" alt="Euro windows" /></a>
                    </div>
                
                    <div class="partner__item item">
                        <a id="footer1_rpt_partner_HyperLink1_3"><img id="footer1_rpt_partner_Image1_3" class="img-responsive" src="~/upload/partner/inax-27.png" alt="Linax" /></a>
                    </div>
                
                    <div class="partner__item item">
                        <a id="footer1_rpt_partner_HyperLink1_4"><img id="footer1_rpt_partner_Image1_4" class="img-responsive" src="~/upload/partner/jotun-74.png" alt="Jotun" /></a>
                    </div>
                            
        </div>
    </div>
</section>*@

<script type="text/javascript" src="~/Scripts/VNGP/ReasonExists/vngp_ReasonExists_Index.js"></script>