USE [VNGP]
GO
/****** Object:  Table [dbo].[District]    Script Date: 3/3/2022 11:25:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[District](
	[DistrictId] [bigint] NOT NULL,
	[DistrictName] [nvarchar](500) NULL,
	[ProvinceId] [bigint] NULL,
	[Note] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[DistrictId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Province]    Script Date: 3/3/2022 11:25:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Province](
	[ProvinceId] [bigint] NOT NULL,
	[ProvinceName] [nvarchar](500) NULL,
	[Note] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProvinceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RootBranch]    Script Date: 3/3/2022 11:25:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RootBranch](
	[RootBranchId] [bigint] NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Note] [nvarchar](500) NULL,
	[IsDefault] [bit] NULL,
	[ImageThumbnail] [varchar](500) NULL,
	[ProvinceId] [bigint] NULL,
	[DistrictId] [bigint] NULL,
	[Address] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[RootBranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RootBranch01]    Script Date: 3/3/2022 11:25:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RootBranch01](
	[RootBranch01Id] [bigint] NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Note] [nvarchar](500) NULL,
	[IsDefault] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[RootBranch01Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RootBranch02]    Script Date: 3/3/2022 11:25:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RootBranch02](
	[RootBranch02Id] [bigint] NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Note] [nvarchar](500) NULL,
	[IsDefault] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[RootBranch02Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RootPerson]    Script Date: 3/3/2022 11:25:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RootPerson](
	[RootPersonId] [bigint] NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Sex] [bit] NULL,
	[DateOfBirth] [datetime] NULL,
	[Level] [int] NULL,
	[RootBranchId] [bigint] NULL,
	[FatherRootPersonId] [bigint] NULL,
	[MotherRootPersonId] [bigint] NULL,
	[Remark] [nvarchar](500) NULL,
	[RootBranch01Id] [bigint] NULL,
	[RootBranch02Id] [bigint] NULL,
	[ProvinceId] [bigint] NULL,
	[DistrictId] [bigint] NULL,
	[Address] [nvarchar](100) NULL,
	[NickName] [nvarchar](100) NULL,
	[Phone] [varchar](100) NULL,
	[BirthDayAddress] [nvarchar](100) NULL,
	[BirthDayProvinceId] [bigint] NULL,
	[BirthDayDistrictId] [bigint] NULL,
	[SortOrder] [int] NULL,
	[ImageLink] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[RootPersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RootPersonMemory]    Script Date: 3/3/2022 11:25:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RootPersonMemory](
	[RootPersonId] [bigint] NOT NULL,
	[DateOfDeath] [datetime] NULL,
	[LunarDateOfDeath] [datetime] NULL,
	[Gravestone] [nvarchar](100) NULL,
	[MemoryNote] [ntext] NULL,
	[PureMemoryNote] [nvarchar](4000) NULL,
	[MerchantId] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RootPersonId] ASC,
	[MerchantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RootPersonRelationMap]    Script Date: 3/3/2022 11:25:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RootPersonRelationMap](
	[RootPersonId] [bigint] NOT NULL,
	[WeddingDate] [datetime] NULL,
	[Note] [nvarchar](500) NULL,
	[RelationRootPersonId] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RootPersonId] ASC,
	[RelationRootPersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RootPost]    Script Date: 3/3/2022 11:25:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RootPost](
	[RootPostId] [bigint] NOT NULL,
	[Title] [nvarchar](500) NULL,
	[TextThumbnail] [nvarchar](500) NULL,
	[ImageThumbnail] [varchar](100) NULL,
	[Description] [nvarchar](max) NULL,
	[CreateDate] [datetime] NULL,
	[Writer] [bigint] NULL,
	[Editor] [bigint] NULL,
	[WriteDate] [datetime] NULL,
	[EditDate] [datetime] NULL,
	[ViewCount] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[RootPostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RootReasonExists]    Script Date: 3/3/2022 11:25:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RootReasonExists](
	[RootReasonExists] [bigint] NULL,
	[Reason] [nvarchar](4000) NULL,
	[Description] [nvarchar](4000) NULL,
	[LinkYoutube] [varchar](500) NULL,
	[ImageThumbnail] [varchar](500) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[District] ([DistrictId], [DistrictName], [ProvinceId], [Note]) VALUES (1, N'Tuy Phước', 1, NULL)
INSERT [dbo].[District] ([DistrictId], [DistrictName], [ProvinceId], [Note]) VALUES (2, N'Phù Cát', 1, NULL)
INSERT [dbo].[District] ([DistrictId], [DistrictName], [ProvinceId], [Note]) VALUES (3, N'Quận 10', 2, NULL)
INSERT [dbo].[Province] ([ProvinceId], [ProvinceName], [Note]) VALUES (1, N'Bình Định', N'')
INSERT [dbo].[Province] ([ProvinceId], [ProvinceName], [Note]) VALUES (2, N'Hồ Chí Minh', NULL)
INSERT [dbo].[Province] ([ProvinceId], [ProvinceName], [Note]) VALUES (3, N'Hà Nội', NULL)
INSERT [dbo].[RootBranch] ([RootBranchId], [Name], [Note], [IsDefault], [ImageThumbnail], [ProvinceId], [DistrictId], [Address]) VALUES (1, N'Nguyễn', NULL, NULL, N'tochonguyen_thumbnail_20221202.jpg', 1, 2, N'thôn Chánh Hữu, xã Cát Chánh')
INSERT [dbo].[RootBranch] ([RootBranchId], [Name], [Note], [IsDefault], [ImageThumbnail], [ProvinceId], [DistrictId], [Address]) VALUES (2, N'Trần', NULL, NULL, N'tochotran_thumbnail_20221202.jpg', 1, 1, NULL)
INSERT [dbo].[RootBranch] ([RootBranchId], [Name], [Note], [IsDefault], [ImageThumbnail], [ProvinceId], [DistrictId], [Address]) VALUES (3, N'Lê', NULL, NULL, N'tochole_thumbnail_20221202.jpg', 2, 2, NULL)
INSERT [dbo].[RootPerson] ([RootPersonId], [Name], [Sex], [DateOfBirth], [Level], [RootBranchId], [FatherRootPersonId], [MotherRootPersonId], [Remark], [RootBranch01Id], [RootBranch02Id], [ProvinceId], [DistrictId], [Address], [NickName], [Phone], [BirthDayAddress], [BirthDayProvinceId], [BirthDayDistrictId], [SortOrder], [ImageLink]) VALUES (1, N'Nguyễn Văn Anh', 1, CAST(N'1966-12-31 00:00:00.000' AS DateTime), 0, 1, NULL, NULL, NULL, NULL, NULL, 1, 2, N'thôn Chánh Hữu, xã Cát Chánh', N'4 An', N'0232423132', N'Bệnh viên Từ Vũ, Hồ Chí Minh', 2, 2, 1, N'img1.jpg')
INSERT [dbo].[RootPerson] ([RootPersonId], [Name], [Sex], [DateOfBirth], [Level], [RootBranchId], [FatherRootPersonId], [MotherRootPersonId], [Remark], [RootBranch01Id], [RootBranch02Id], [ProvinceId], [DistrictId], [Address], [NickName], [Phone], [BirthDayAddress], [BirthDayProvinceId], [BirthDayDistrictId], [SortOrder], [ImageLink]) VALUES (2, N'Nguyễn Thị Thu', 0, CAST(N'1990-02-02 00:00:00.000' AS DateTime), 1, 1, 1, 4, NULL, NULL, NULL, 1, 2, N'thôn Chánh Hữu, xã Cát Chánh', NULL, N'09574634534', N'Bình Định', 1, 2, 1, N'img2.jpg')
INSERT [dbo].[RootPerson] ([RootPersonId], [Name], [Sex], [DateOfBirth], [Level], [RootBranchId], [FatherRootPersonId], [MotherRootPersonId], [Remark], [RootBranch01Id], [RootBranch02Id], [ProvinceId], [DistrictId], [Address], [NickName], [Phone], [BirthDayAddress], [BirthDayProvinceId], [BirthDayDistrictId], [SortOrder], [ImageLink]) VALUES (3, N'Nguyễn Văn Quân', 1, CAST(N'1991-01-21 00:00:00.000' AS DateTime), 1, 1, 1, 4, NULL, NULL, NULL, 1, 2, N'thôn Chánh Hữu, xã Cát Chánh', NULL, N'023234234', N'Bình Định', 1, 2, 2, N'img3.jpg')
INSERT [dbo].[RootPersonRelationMap] ([RootPersonId], [WeddingDate], [Note], [RelationRootPersonId]) VALUES (1, CAST(N'2004-01-23 00:00:00.000' AS DateTime), NULL, 4)
INSERT [dbo].[RootPersonRelationMap] ([RootPersonId], [WeddingDate], [Note], [RelationRootPersonId]) VALUES (2, CAST(N'2010-02-23 00:00:00.000' AS DateTime), NULL, 5)
/****** Object:  StoredProcedure [dbo].[vnsp_Branch_getBranchById]    Script Date: 3/3/2022 11:25:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[vnsp_Branch_getBranchById]
(
	@Id INT
)
AS
BEGIN
    DECLARE @query NVARCHAR(MAX)=''
	SET @query = @query + '
		SELECT	Br.RootBranchId, 
				Br.Name, 
				Br.Note, 
				Br.IsDefault, 
				Br.ImageThumbnail, 
				ISNULL(A.ProvinceName,'''') ProvinceName, 
				ISNULL(B.DistrictName,'''') DistrictName, 
				ISNULL(Br.Address,'''') Address
		FROM RootBranch Br
		JOIN(
				SELECT *
				FROM Province Pr 
			) A ON Br.ProvinceId = A.ProvinceId
		JOIN (
				SELECT * 
				FROM dbo.District D
			) B ON Br.DistrictId = B.DistrictId
		WHERE Br.RootBranchId = ' + CONVERT(VARCHAR(20),@Id)

	EXEC (@query)
END

GO
/****** Object:  StoredProcedure [dbo].[vnsp_Branch_getBranchList]    Script Date: 3/3/2022 11:25:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[vnsp_Branch_getBranchList]
(
	@pageSize BIGINT,
	@pageSkip BIGINT,
	@txtSearchVN NVARCHAR(500),
	@provinceID BIGINT,
	@districtID BIGINT,
	@txtWardVN NVARCHAR(500),
	@txtSearchEn NVARCHAR(500),
	@txtWardEn NVARCHAR(500)
)
AS
BEGIN
	--DECLARE @sql NVARCHAR(MAX) = '',
	--		@condition NVARCHAR(MAX) = ''
 --   SET @sql = 'SELECT * FROM RootBranch'


    DECLARE @sql NVARCHAR(MAX) = '',
			@condition NVARCHAR(MAX) = ''
    SET @sql = ' 
	SELECT	Br.RootBranchId, 
			Br.Name, 
			Br.Note, 
			Br.IsDefault, 
			Br.ImageThumbnail, 
			ISNULL(A.ProvinceName,'''') ProvinceName, 
			ISNULL(B.DistrictName,'''') DistrictName, 
			ISNULL(Br.Address,'''') Address
	FROM RootBranch Br
	JOIN(
            SELECT *
            FROM Province Pr ';

	--IF(@provinceID IS NOT NULL AND LEN(@provinceID)!=0 OR @districtID IS NOT NULL AND LEN(@districtID)!=0 OR @txtWard IS NOT NULL AND LEN(@txtWard)!=0)
	--BEGIN
	--	SET @sql = @sql + '
 --               WHERE
	--	'
	--END
	--ELSE GOTO Ket_Thuc

    IF (@provinceID != 0 AND LEN(@provinceID)!=0)
    BEGIN
        SET @sql = @sql + '
			WHERE Pr.ProvinceId = '+ CAST(@provinceID AS NVARCHAR(50));
    END
	
	SET @sql = @sql + '
		) A ON Br.ProvinceId = A.ProvinceId
	JOIN (
			SELECT * FROM dbo.District D
	'
	
	IF (@districtID != 0 AND LEN(@districtID)!=0)
	BEGIN
		SET @sql = @sql + '
			WHERE D.DistrictId = '+ CAST(@districtID AS NVARCHAR(50));
	END
    
	SET @sql = @sql + '
		) B ON Br.DistrictId = B.DistrictId
	'

	IF (@txtWardVN IS NOT NULL OR LEN(@txtWardVN)!=0)
	BEGIN
		SET @sql = @sql + '
		WHERE Br.Address LIKE N''%' + @txtWardVN + '%'' OR Br.Address LIKE N''%' + @txtWardEn + '%''';
		SET @condition = ' AND '
	END
	ELSE SET @condition = ' WHERE '
--Ket_Thuc:
--	SET @sql = @sql + '
--            ) as A ON T.AddressId = A.Id ';
	IF (@txtSearchVN IS NOT NULL AND LEN(@txtSearchVN)!=0)
    BEGIN
		SET @sql = @sql + @condition
        SET @sql = @sql + ' 
			Br.Name LIKE N''%' + @txtSearchVN + '%'' OR Br.Name LIKE N''%' + @txtSearchEn + '%''
			OR Br.RootBranchId IN (
					SELECT DISTINCT P.RootBranchId FROM dbo.RootPerson P
					WHERE P.Name LIKE N''%' + @txtSearchVN + '%'' OR P.Name LIKE N''%' + @txtSearchEn + '%''
				)
			';
    END

    SET @sql = @sql + ' ORDER BY Br.Name ASC ';

    IF (@pageSize != -1 AND @pageSkip != -1) 
	BEGIN
        SET @sql = @sql + '
            OFFSET ' + CAST(@pageSkip AS VARCHAR(20)) + ' ROWS
            FETCH NEXT ' + CAST(@pageSize AS VARCHAR(20)) + ' ROWS ONLY ';
    END

	EXEC(@sql)
	PRINT(@sql)
END

GO
/****** Object:  StoredProcedure [dbo].[vnsp_Branch_getDistrictListByIdList]    Script Date: 3/3/2022 11:25:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[vnsp_Branch_getDistrictListByIdList]
(
	@provinceID BIGINT
)
AS
BEGIN
    SELECT * FROM District WHERE ProvinceId = @provinceID
END

GO
/****** Object:  StoredProcedure [dbo].[vnsp_Branch_getProvinceList]    Script Date: 3/3/2022 11:25:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[vnsp_Branch_getProvinceList]
AS
BEGIN
    SELECT * FROM Province
END
GO
/****** Object:  StoredProcedure [dbo].[vnsp_Branch_LoadBranchDetail]    Script Date: 3/3/2022 11:25:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[vnsp_Branch_LoadBranchDetail]
(
	@BranchId INT
)
AS
BEGIN
	DECLARE @query NVARCHAR(MAX) = N'',
			@strBranch NVARCHAR(MAX) = N''

	IF @BranchId<>''
		SET @strBranch =N' AND RP.RootBranchId = '+CAST(@BranchId AS VARCHAR(10))
	SET @query = N'
		SELECT	ROW_NUMBER() OVER(ORDER BY(SELECT NULL)) STT,
				RP.RootPersonId,
				RP.Level, 
				RP.Name, 
				RP.FatherRootPersonId, 
				RP.MotherRootPersonId, 
				ISNULL(Father.Name,'''') FatherName, 
				ISNULL(Mother.Name,'''') MotherName,
				FORMAT(RP.DateOfBirth,''dd/MM/yyyy'') DateOfBirth, 
				CASE 
					WHEN RP.Sex = 1 THEN N''Nam'' ELSE N''Nữ''
				END Sex,
				ISNULL(RP.Address,'''') Address,
				RP.Phone,
				RP.SortOrder,
				RP.RootBranchId,
				RM.RelationRootPersonId PartnerPersonId,
				RM.WeddingDate,
				RM.RootBranchId PartnerBranchId,
				RM.Level PartnerLevel,
				ISNULL(RM.Partner,'''') Partner,
				CASE
					WHEN RMemory.DateOfDeath IS NULL THEN N''Còn sống'' ELSE N''Đã mất'' 
				END Death,
				RMemory.DateOfDeath,
				RMemory.LunarDateOfDeath,
				RM.PartnerMaxLevel,
				Father.Level FatherLevel,
				Father.RootBranchId FatherBranchId,
				Mother.Level MotherLevel,
				Mother.RootBranchId MotherBranchId,
				RP1.maxLevel
		FROM dbo.RootPerson RP
		LEFT JOIN(
			SELECT * 
			FROM dbo.RootPerson
		) Father ON Father.RootPersonId = RP.FatherRootPersonId
		LEFT JOIN(
			SELECT * 
			FROM dbo.RootPerson
		) Mother ON Mother.RootPersonId = RP.MotherRootPersonId
		LEFT JOIN(
			SELECT RP1.RootBranchId, MAX(RP1.Level) maxLevel
			FROM RootPerson RP1
			WHERE RP1.RootBranchId = '+ CAST(@BranchId AS VARCHAR(10)) +N'
			GROUP BY  RP1.RootBranchId
		) RP1 ON RP1.RootBranchId = RP.RootBranchId
		LEFT JOIN(
			SELECT RPRM.RootPersonId, RPRM.RelationRootPersonId,RPR.RootBranchId, 
			RPRM.WeddingDate, RPR.Name Partner,RPR.Level, RPR.PartnerMaxLevel
			FROM dbo.RootPersonRelationMap RPRM
			LEFT JOIN(
				SELECT RPR.RootPersonId,RPR.RootBranchId,RPR.Name, RPR.Level, MAX(RPR.Level) PartnerMaxLevel 
				FROM dbo.RootPerson RPR 
				GROUP BY RPR.RootPersonId,RPR.RootBranchId,RPR.Name, RPR.Level
			) RPR ON RPR.RootPersonId = RPRM.RelationRootPersonId
		) RM ON RM.RootPersonId = RP.RootPersonId  
		LEFT JOIN(
			SELECT *
			FROM dbo.RootPersonMemory
		) RMemory ON RMemory.RootPersonId = RP.RootPersonId
		WHERE 1=1 ' + @strBranch + N'
		ORDER BY RP.Level, RP.SortOrder
	'

	EXEC (@query)
END

GO
/****** Object:  StoredProcedure [dbo].[vnsp_Person_getBranchSourceById]    Script Date: 3/3/2022 11:25:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[vnsp_Person_getBranchSourceById]
(
	@BranchId INT,
	@PersonId INT,
	@Level INT,
	@MaxLevel INT
)
AS
BEGIN
		DECLARE @query NVARCHAR(MAX) = N'',
				@w_Level VARCHAR(MAX) = '',
				@strBranch VARCHAR(MAX) = '',
				@strBranch1 VARCHAR(MAX) = '',
				@strPerson VARCHAR(MAX) = ''

		IF @BranchId <>''
		BEGIN
			SET @strBranch = ' AND RP1.RootBranchId = '+ CAST(@BranchId AS VARCHAR(10)) 
			SET @strBranch1 = ' AND RP.RootBranchId = '+ CAST(@BranchId AS VARCHAR(10)) 
		END

		IF @PersonId <>''
		BEGIN
			SET @strPerson = ' AND RP.RootPersonId = '+ CAST(@PersonId AS VARCHAR(10))
		END
		
		IF @Level=0
			SET @w_Level = ' (0,1,2) '
		ELSE IF @Level >= @MaxLevel 
			SET @w_Level = ' ('+CAST((@Level-2) AS VARCHAR(10))+','+CAST((@Level-1) AS VARCHAR(10))+','+CAST((@Level) AS VARCHAR(10))+') '
		ELSE
			SET @w_Level = ' ('+CAST((@Level-1) AS VARCHAR(10))+','+CAST(@Level AS VARCHAR(10))+','+CAST((@Level+1) AS VARCHAR(10))+') '

		SET @query = @query + N'
		SELECT	RP.RootPersonId,
				RP1.RootPersonId id,
				RP1.Name name,
				RP1.Sex,
				RP1.DateOfBirth,
				RP1.Level,
				RP1.FatherRootPersonId pid,
				RP1.MotherRootPersonId,
				RP1.Remark,
				RP1.RootBranch01Id,
				RP1.RootBranch02Id,
				RP1.ProvinceId,
				RP1.DistrictId,
				RP1.Address,
				RP1.NickName,
				RP1.Phone,
				RP1.BirthDayAddress,
				RP1.BirthDayProvinceId,
				RP1.BirthDayDistrictId,
				RP1.SortOrder,
				RP1.ImageLink img,
				RP.RootBranchId
		FROM dbo.RootPerson RP
		LEFT JOIN(
			SELECT *
			FROM dbo.RootPerson RP1 
			WHERE 1 = 1 
		) RP1 ON RP1.RootBranchId = RP.RootBranchId
		WHERE 1=1 ' +@strPerson+ @strBranch1 + N' 
					AND RP1.Level IN '+ @w_Level
	PRINT(@query)
	EXEC (@query)
END

GO
/****** Object:  StoredProcedure [dbo].[vnsp_Post_getPostById]    Script Date: 3/3/2022 11:25:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[vnsp_Post_getPostById]
(
	@Id INT
)
AS
BEGIN
    DECLARE @query NVARCHAR(MAX)=''
	SET @query = @query + N'
		SELECT *
		FROM RootPost P
		WHERE P.RootPostId = ' + CONVERT(VARCHAR(20),@Id)

	EXEC (@query)
END
GO
/****** Object:  StoredProcedure [dbo].[vnsp_Post_getPostList]    Script Date: 3/3/2022 11:25:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[vnsp_Post_getPostList]
(
	@pageSize BIGINT,
	@pageSkip BIGINT,
	@txtSearchVN NVARCHAR(500),
	@txtSearchEn NVARCHAR(500)
)
AS
BEGIN
    DECLARE @sql NVARCHAR(MAX) = '',
			@condition NVARCHAR(MAX) = ''
	SET @condition =  ' WHERE '
    SET @sql = ' 
	SELECT	*
	FROM RootPost P ';

	IF (@txtSearchVN IS NOT NULL AND LEN(@txtSearchVN)!=0)
    BEGIN
		SET @sql = @sql + @condition
        SET @sql = @sql + ' 
			P.Title LIKE N''%' + @txtSearchVN + '%'' OR P.Title LIKE N''%' + @txtSearchEn + '%''
			OR P.TextThumbnail LIKE N''%' + @txtSearchVN + '%'' OR P.TextThumbnail LIKE N''%' + @txtSearchEn + '%''
			OR P.Description LIKE N''%' + @txtSearchVN + '%'' OR P.Description LIKE N''%' + @txtSearchEn + '%''
			';
    END

    SET @sql = @sql + ' ORDER BY P.Title ASC ';

    IF (@pageSize != -1 AND @pageSkip != -1) 
	BEGIN
        SET @sql = @sql + '
            OFFSET ' + CAST(@pageSkip AS VARCHAR(20)) + ' ROWS
            FETCH NEXT ' + CAST(@pageSize AS VARCHAR(20)) + ' ROWS ONLY ';
    END

	EXEC(@sql)
	PRINT(@sql)
END

GO
/****** Object:  StoredProcedure [dbo].[vnsp_ReasonExists_getReasonExistsList]    Script Date: 3/3/2022 11:25:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[vnsp_ReasonExists_getReasonExistsList]
AS
BEGIN
    Select * from RootReasonExists
END

GO
