@{
    ViewData["Title"] = "Post Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="blog blog-3 bg--f8 bor-none">
    <div class="container-full">
        <div class="row">
            <div class="col-md-12">
                <div class="title title-2 cl-gold title-bor m-b-20">
                    @*<span class="top-title">
                    </span>*@
                    <span class ="title-heading">
                        <a id="post_postTitle" class="cl-gold" href="du-an-noi-bat-nid-6">
                           
                        </a>
                    </span>
                    <span class="bot-title">
                    </span>
                </div>
            </div>
           @* <div class="title-name title-4">
                <h1 class="cl-gold">
                    Mẫu thiết kế biệt thự hiện đại 3 tầng tại Bắc Giang – CDT Chị Kiểm
                </h1>
            </div>*@
        </div>
        <div class="row main-content">
            <div class ="col-12">
                <div id="post_postDescription">

                </div>
                <br />
                <div class ="share" id="post_postFooter">
                    
                </div>
            </div>
        </div>
        <div class ="break-item">
        </div>
        @*<div class="row">  
            
                    <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                        <div class ="list-bt"></div>
                        <div class ="list-lr"></div>
                        <div class ="list-it"></div>
                        <div class ="list-ib"></div>  
                        <div class="blog-item blog-item-3">
                            <div class="img-blog img-blog-3">
                                <a id="news1_rpt_same_HyperLink4_0" href="thi-cong-tron-goi-biet-thu-pho-tan-co-dien-4-tang-10x15m-tid-48"><img id="news1_rpt_same_Image4_0" class="img-responsive" src="upload/news/thumb/21-2-2020/thi-cong-biet-thu-tan-co-dien-4-tang-2-15.jpg" alt="Thi công trọn gói biệt thự phố tân cổ điển 4 tầng 10x15m" /></a>
                            </div>
                            <div class="blog-content">
                                <h4 class="blog-title m-b-20">
                                    <a id="news1_rpt_same_HyperLink5_0" class="sbold" href="thi-cong-tron-goi-biet-thu-pho-tan-co-dien-4-tang-10x15m-tid-48">Thi công trọn gói biệt thự phố tân cổ điển 4 tầng 10x15m</a>                           
                                </h4>
                                <p>
                                    <span class ="more">Dự án thiết kế và thi công trọn gói biệt thự phố 4 tầng diện tích 150m2 theo phong cách biệt thự tân cổ điển cao cấp, sang trọng được các KTS công ty thiết kế biệt thự Pháp [...]</span>
                                </p>
                            </div>
                        </div>
                        
                    </div>
                
                    <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                        <div class ="list-bt"></div>
                        <div class ="list-lr"></div>
                        <div class ="list-it"></div>
                        <div class ="list-ib"></div>  
                        <div class="blog-item blog-item-3">
                            <div class="img-blog img-blog-3">
                                <a id="news1_rpt_same_HyperLink4_1" href="thi-cong-tron-goi-biet-thu-tan-co-dien-3-tang-400m2-tid-35"><img id="news1_rpt_same_Image4_1" class="img-responsive" src="upload/news/thumb/17-1-2020/thi-cong-biet-thu-tan-co-dien-3-tang-400m2-4-85.jpg" alt="Thi công trọn gói biệt thự tân cổ điển 3 tầng 400m2" /></a>
                            </div>
                            <div class="blog-content">
                                <h4 class="blog-title m-b-20">
                                    <a id="news1_rpt_same_HyperLink5_1" class="sbold" href="thi-cong-tron-goi-biet-thu-tan-co-dien-3-tang-400m2-tid-35">Thi công trọn gói biệt thự tân cổ điển 3 tầng 400m2</a>                           
                                </h4>
                                <p>
                                    <span class ="more">Dự án thiết kế và thi công trọn gói biệt thự tân cổ điển 3 tầng 400m2 mặt tiền 20m của gia đình anh Kiên tại Bắc Giang là một căn biệt thự đẹp với kiến trúc độc đáo, sang trọng bề [...]</span>
                                </p>
                            </div>
                        </div>
                        
                    </div>
                
                    <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                        <div class ="list-bt"></div>
                        <div class ="list-lr"></div>
                        <div class ="list-it"></div>
                        <div class ="list-ib"></div>  
                        <div class="blog-item blog-item-3">
                            <div class="img-blog img-blog-3">
                                <a id="news1_rpt_same_HyperLink4_2" href="thi-cong-tron-goi-biet-thu-tan-co-dien-3-tang-dien-tich-1200m2-tid-34"><img id="news1_rpt_same_Image4_2" class="img-responsive" src="upload/news/thumb/10-1-2020/phong-khach-5-11-6.jpg" alt="Thi công trọn gói biệt thự tân cổ điển 3 tầng diện tích 1200m2" /></a>
                            </div>
                            <div class="blog-content">
                                <h4 class="blog-title m-b-20">
                                    <a id="news1_rpt_same_HyperLink5_2" class="sbold" href="thi-cong-tron-goi-biet-thu-tan-co-dien-3-tang-dien-tich-1200m2-tid-34">Thi công trọn gói biệt thự tân cổ điển 3 tầng diện tích 1200m2</a>                           
                                </h4>
                                <p>
                                    <span class ="more">Dự án thiết kế và thi công trọn gói biệt thự tân cổ điển 3 tầng diện tích 1200m2, nằm trong quần thể không gian thương mại, trước mặt là đại lộ và công viên trung tâm thành phố Bắc [...]</span>
                                </p>
                            </div>
                        </div>
                        
                    </div>
                    
        </div>*@
    </div>
</section>
<script type="text/javascript" src="~/Scripts/VNGP/Post/vngp_Post_Detail.js"></script>