@{
    ViewData["Title"] = "Post Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
.advanced {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500
}

.btn-secondary,
.btn-secondary:focus,
.btn-secondary:active {
    color: #fff;
    background-color: #00838f !important;
    border-color: #00838f !important;
    box-shadow: none
}

.advanced {
    color: #00838f !important
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid #00838f
}

.select2-container .select2-selection--single{
    height:34px !important;
}
.select2-container--default .select2-selection--single{
         border: 1px solid #ccc !important; 
     border-radius: 0px !important; 
}

</style>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>


<div class="h1 bg-dark text-center cl-gold">
    @*<div class="input-group" style="margin:0 auto;width: 50%;">
        <input id="txtSearch" class="col-9 form-control" type="text" placeholder="Tìm theo tên tộc họ hoặc theo vùng miền" aria-label="Search">
        <button id="btnSearch" type="button" class="btn btn-warning col-3" style="float:left">
        Tìm kiếm
        </button>
    </div>*@
    <div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card p-3" style="background: #101010 !important;">
                <div class="row g-3 mt-2">
                    <div class="col-md-9"> <input id="txtSearch" type="text" class="form-control" placeholder="Nhập nội dung tìm kiếm..."> </div>
                    <div class="col-md-3"> <button class="btn btn-warning btn-block" id="btnSearch">Tìm kiếm</button> </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<section class="bg--f8 bor-none">
    <div class="container-full">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title title-2 cl-gold title-bor">
                    @*<span class="top-title">
                    </span>*@
                    <span class ="title-heading">
                        Bài Viết Nổi Bật
                    </span>
                    <span class="bot-title">
                    </span>
                </h1>
            </div>
        </div>
       
        <div class="row" id="Post_listPost">        
            @*<div class="col-12 m-b-30">
                            <ul class ="page-number-wrap ul--inline ul--no-style">
                                <li class ="active"><a href="?trang=1">1</a></li> <li>
                                    <a href="?trang=2">2</a></li> <li>
                                    <a href="?trang=3">3</a></li> <li>
                                    <a href="?trang=4">4</a></li> <li>
                                    <a href="?trang=5">5</a></li> <li>
                                    <a href="?trang=2">»</a>
                                </li>
                            </ul>
                        </div>*@
        </div>
        <div class="row">
            <div class="col-12 m-b-30">
                <ul id="paginationPost" class ="page-number-wrap ul--inline ul--no-style">
                    <li>1</li>
                </ul>
            </div>
        </div>
    </div>
</section>
    
<script type="text/javascript" src="~/Scripts/VNGP/Post/vngp_Post_Index.js"></script>