@{
    ViewData["Title"] = "Post Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="blog blog-3 bg--f8 bor-none">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="title title-2 cl-gold title-bor m-b-20">
                    @*<span class="top-title">
                        </span>*@
                    <span class="title-heading">
                        <a id="post_postTitle" class="cl-gold" href="du-an-noi-bat-nid-6">

                        </a>
                    </span>
                    <span class="bot-title">
                    </span>
                </div>
            </div>
        </div>
        <div class="row main-content">
            <div class="col-12 col-sm-8 col-md-8 content" id="Post_listPost">

                <div id="post_postDescription" class="box-description">
                </div>
                <br />
                <div class="share" id="post_postFooter">
                </div>

            </div>

            <div class="col-12 col-sm-4 col-md-4 sidebar" style="max-height:800px;background: #ddd;" id="Post_resultRightMenu">
                
            </div>
        </div>
        <div class="break-item">
        </div>
    </div>
</section>
@*<script type="text/javascript" src="~/Scripts/VNGP/RootPost/vngp_Post_Detail.js"></script>*@