
@{
    ViewData["Title"] = "ThanhVien";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="blog blog-3 bg--f8 bor-none">
    <div class="container-fluid" id="resultThanhVien">
        
    </div>
</section>

<script type="text/javascript" src="~/Scripts/VNGP/Person/vngp_Person_Index.js"></script>