<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang ="vi">
<head lang="vi"><title>
	Việt Nam Gia Phả
</title><meta charset="utf-8" /><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!-- ================== Font =================== -->
    <link rel="stylesheet" type="text/css" href="~/font/font-awesome/~/css/font-awesome.min.css" /><link rel="stylesheet" type="text/css" href="~/font/mdi-~/font/material-design-iconic-font.min.css" />
    <!-- ================== Vendor CSS =================== -->
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap4/bootstrap.min.css" /><link rel="stylesheet" type="text/css" href="~/vendor/owl-carousel/animate.css" /><link rel="stylesheet" type="text/css" href="~/vendor/owl-carousel/owl.carousel.min.css" /><link rel="stylesheet" type="text/css" href="~/vendor/owl-carousel/owl.theme.default.min.css" /><link rel="stylesheet" type="text/css" href="~/vendor/revolution/settings.css" /><link rel="stylesheet" type="text/css" href="~/vendor/revolution/navigation.css" /><link rel="stylesheet" type="text/css" href="~/vendor/revolution/layers.css" /><link rel="stylesheet" type="text/css" href="~/vendor/lightbox2/~/css/lightbox.css" />
    <!-- Main CSS -->
  
    <script src="~/vendor/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="~/js/jquery.min.js"></script>    
	<link rel="stylesheet" type="text/css" href="~/css/jquery.mmenu.all.css" />
	<script type="text/javascript" src="~/js/jquery.mmenu.all.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://rawgit.com/vitmalina/w2ui/master/dist/w2ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://rawgit.com/vitmalina/w2ui/master/dist/w2ui.min.css" />

	<link rel="stylesheet" type="text/css" href="~/css/jquery.mhead.css" /><link rel="stylesheet" type="text/css" href="~/css/font.css" /><link rel="stylesheet" type="text/css" href="~/css/style.css" /><link href="~/css/default.css" rel="stylesheet" /><link href="~/css/nivo-slider.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/VNGP/VNGP.js"></script>
    <script type="text/javascript">
        $(function () {

            $(function () {

                //	create the menus
                //$('#menu').mmenu();

                ////	fire the plugin
                //$('.mh-head.first').mhead({
                //    scroll: {
                //        hide: 200
                //    }
                //});
                //$('.mh-head.second').mhead({
                //    scroll: false
                //});

                ////	for demo only
                //$('a[href^="#/"]').click(function () {
                //    alert('Thank you for clicking, but that\'s a demo link.');
                //    return;
                //})
            });
        });
    </script>
<meta name="DESCRIPTION" content="Việt Nam Gia Phả"/><meta name="twitter:title" content="Việt Nam Gia Phả" />
<meta name="twitter:description" content="Việt Nam Gia Phả"/><link href="https://bietthuphap.com.vn" rel="canonical" />
<meta name="robots" content="index, follow"/>
<meta name="google-site-verification" content="twyXvAMclrA2XLUkyT1-sgtpefg79lJggSNTYq4JMcM" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SK73D5SWMY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SK73D5SWMY');
</script></head>
<body lang ="vi">
    @*<div id="page-loader">
        <div class="page-loader__inner">
            <div class="page-loader__spin"></div>            
        </div>
    </div>
    <div class ="nav-top">
        <div class ="hidden-xs col-sm-12">
            <h1>
                <i class="fa fa-home" aria-hidden="true"></i> Việt Nam Gia Phả
            </h1>
            <span>
                đơn vị thiết kế thi công Việt Nam Gia Phả
            </span>
        </div>
    </div>*@
    
<header class ="bg-dark hidden-xs">
    <div class ="head-logo">
        <div class ="col-md-12 col-lg-5 justify-content-center align-self-center">
            <a id="header1_hpl" title="Việt Nam Gia Phả" href="./"><img id="header1_img_logo" src="~/upload/icon/20-5-2019/biet-thu-phap-59.png" 
                alt="Việt Nam Gia Phả" /></a>
        </div>
        <div class ="col-lg-7 col-md-12 text-right d-none d-sm-block p-t-15">            
            <div class ="col-w-250">
                <div class ="cl-gold">
                    ĐỊA CHỈ
                </div>
                <p class ="text-white">
                    <i class="fa fa-map-marker text-muted" aria-hidden="true"></i> Số 48 liền kề 11B, khu đô thị Mỗ Lao, quận Hà Đông, TP. Hà Nội
                </p>
                <div class ="cl-gold">
                    EMAIL
                </div>
                <p class ="text-white">
                    <i class="fa fa-envelope text-muted" aria-hidden="true"></i> kientrucnhavn@gmail.com
                </p>
                <ul class="list-social text-white">
                    <li class="fb">
                        <a href="https://www.facebook.com/GreenHouse.jsc" id="header1_facebook" class="text-muted">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="tweet">
                        <a href="javascript:void(0)" id="header1_twitter" class="text-muted">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>                    
                    <li class="insta">
                        <a href="javascript:void(0)" id="header1_instagram" class="text-muted">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li class="linkd">
                        <a href="javascript:void(0)" id="header1_linkedin" class="text-muted">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                    <li class="ytube">
                        <a href="https://www.youtube.com/user/greenhousevietnam" id="header1_youtube" class="text-muted">
                            <i class="fa fa-youtube"></i>
                        </a>
                    </li>
                        <li class="rss">
                        <a href="uc_control/0948932555" id="header1_google" class="text-muted">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-w-200">
                <div class ="cl-gold">
                    ĐIỆN THOẠI
                </div>
                <p class ="text-white">
                    <a href="tel:0818932555" id="header1_tel" class="text-white">
                        <i class="fa fa-fax text-muted" aria-hidden="true"></i>
                        0818.932.555
                    </a>
                </p>
                <div class ="cl-gold">
                    HOTLINE
                </div>
                <p class ="text-white">
                    <a href="tel:0948932555" id="header1_hotline" class="text-white">
                        <i class="fa fa-phone text-muted" aria-hidden="true"></i>
                        0948.932.555
                    </a>
                </p> 
                <p class ="p-t-15">
                    <a id="header1_HyperLink1" class="btn-support" href="lien-he">Tư vấn miễn phí</a>
                </p>          
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-border bg-black">
        <ul class="ul--inline ul--no-style list-center">
            <li>
                <a id="header1_HyperLink1" href="~/LyDoTonTai">Lý do tồn tại</a>
            </li>
            <li class="li-has-sub">
              <a id="header1_HyperLink2" href="~/TocHo">Tìm về cội nguồn</a>
                
                        <ul class="sub-menu ul--no-style">
                    
                        @*<li>
                            <a id="header1_rpt_services_HyperLink3_0" href="~/TocHo/Index">Danh sách tộc họ</a>
                        </li>
                    
                        <li>
                            <a id="header1_rpt_services_HyperLink3_1" href="thiet-ke-noi-that-sid-2.html"></a>
                        </li>
                    
                        <li>
                            <a id="header1_rpt_services_HyperLink3_2" href="xuong-dong-do-noi-that-sid-3.html">Xưởng đóng đồ nội thất</a>
                        </li>
                    
                        <li>
                            <a id="header1_rpt_services_HyperLink3_3" href="xay-nha-tron-goi-sid-4.html">Xây nhà trọn gói</a>
                        </li>
                    
                        <li>
                            <a id="header1_rpt_services_HyperLink3_4" href="thiet-ke---thi-cong-san-vuon-sid-5.html">Thiết kế - thi công sân vườn</a>
                        </li>*@
                    
                        </ul>
                    
            </li>
            <li>
                <a id="header1_HyperLink3" href="gioi-thieu.html">Đạo lý làm người</a>
            </li>
            @{
                    var TocHo = Context.Session.GetString("TocHo");
                    string path = Context.Request.Path;
                    path = path.Substring(1);
                    string[] words = path.Split('/');
                    var tocHoId = words[2];
                    if (@TocHo != null)
                {
                    if (@TocHo.Length != 0)
                    {
                        <li class="li-has-sub">
                            <a id="header1_HyperLink4" href="javascript:;" onclick="window.location.reload(true);">Tộc @TocHo</a>
                            <ul class="sub-menu ul--no-style">
                                <li>
                                    <a id="header1_rpt_services_hyperlink3_0" href="javascript:;" onclick="window.location.reload(true);">Gia phả</a>
                                </li>
                                <li>
                                    <a id="header1_rpt_services_hyperlink3_1" href="thiet-ke-noi-that-sid-2.html">Phả ký</a>
                                </li>
                                <li>
                                    <a id="header1_rpt_services_hyperlink3_2" href="xuong-dong-do-noi-that-sid-3.html">Tộc ước</a>
                                </li>
                                <li>
                                    <a id="header1_rpt_services_hyperlink3_3" href="/ThanhVien/ThanhVien/@tocHoId">Phả đồ</a>
                                </li>
                            </ul>
                        </li>
                    }
                }
            }
                
            @*<li class="li-has-sub" id="headerTocHo">
            </li>*@
            
                    @*<li class="li-has-sub">
                        <a id="header1_rpt_menu_HyperLink6_0" href="thiet-ke-kien-truc-mid-1.html">Thiết kế kiến trúc</a>
                        
                        
                                <ul class="sub-menu ul--no-style">
                            
                                <li>
                                    <a id="header1_rpt_menu_rpt_mm_0_HyperLink6_0" href="dinh-thu-lau-dai-mid-6.html">Dinh thự lâu đài</a>
                                </li>
                            
                                <li>
                                    <a id="header1_rpt_menu_rpt_mm_0_HyperLink6_1" href="biet-thu-co-dien-tan-co-dien-mid-3.html">Biệt thự cổ điển - Tân cổ điển</a>
                                </li>
                            
                                <li>
                                    <a id="header1_rpt_menu_rpt_mm_0_HyperLink6_2" href="biet-thu-hien-dai-mid-2.html">Biệt thự hiện đại</a>
                                </li>
                            
                                <li>
                                    <a id="header1_rpt_menu_rpt_mm_0_HyperLink6_3" href="thiet-ke-nha-pho-hien-dai-mid-12.html">Thiết kế nhà phố hiện đại</a>
                                </li>
                            
                                <li>
                                    <a id="header1_rpt_menu_rpt_mm_0_HyperLink6_4" href="nha-pho-co-dien---tan-co-dien-mid-13.html">Nhà phố cổ điển - tân cổ điển</a>
                                </li>
                            
                                <li>
                                    <a id="header1_rpt_menu_rpt_mm_0_HyperLink6_5" href="khach-san---nha-hang-mid-7.html">Khách sạn - nhà hàng</a>
                                </li>
                            
                                </ul>
                            
                    </li>
                
                    <li class="li-has-sub">
                        <a id="header1_rpt_menu_HyperLink6_1" href="noi-that-mid-4.html">Nội thất</a>
                        
                        
                                <ul class="sub-menu ul--no-style">
                            
                                <li>
                                    <a id="header1_rpt_menu_rpt_mm_1_HyperLink6_0" href="thiet-ke-noi-that-mid-5.html">Thiết kế nội thất</a>
                                </li>
                            
                                <li>
                                    <a id="header1_rpt_menu_rpt_mm_1_HyperLink6_1" href="san-pham-noi-that-mid-11.html">Sản phẩm nội thất</a>
                                </li>
                            
                                </ul>
                            
                    </li>
                
                    <li class="li-has-sub">
                        <a id="header1_rpt_menu_HyperLink6_2" href="san-vuon-mid-8.html">Sân vườn</a>
                        
                        
                                <ul class="sub-menu ul--no-style">
                            
                                <li>
                                    <a id="header1_rpt_menu_rpt_mm_2_HyperLink6_0" href="thiet-ke-san-vuon-mid-9.html">Thiết kế sân vườn</a>
                                </li>
                            
                                <li>
                                    <a id="header1_rpt_menu_rpt_mm_2_HyperLink6_1" href="thi-cong-san-vuon-mid-10.html">Thi công sân vườn</a>
                                </li>
                            
                                </ul>
                            
                    </li>
                
            
                    <li class="li-has-sub">
                        <a id="header1_rpt_mnews_HyperLink6_0" href="tin-tuc-nid-1.html">Tin tức</a>
                        
                        
                                <ul class="sub-menu ul--no-style">
                            
                                <li>
                                    <a id="header1_rpt_mnews_rpt_mm_0_HyperLink3_0" href="du-an-noi-bat-nid-6.html">Dự án nổi bật</a>
                                </li>
                            
                                <li>
                                    <a id="header1_rpt_mnews_rpt_mm_0_HyperLink3_1" href="su-kien-green-house-nid-2.html">Sự kiện Green House</a>
                                </li>
                            
                                <li>
                                    <a id="header1_rpt_mnews_rpt_mm_0_HyperLink3_2" href="goc-bao-chi-nid-3.html">Tư vấn xây nhà</a>
                                </li>
                            
                                </ul>
                            
                    </li>*@
                
        </ul>
    </nav>
</header>
<header class="header-mobile">
    <div class="container clearfix">
        <div class="logo pull-left">
            <a id="header1_HyperLink7" href="./"><img id="header1_img_mb" class="img-responsive" src="~/upload/icon/20-5-2019/biet-thu-phap-59.png" alt="Công ty CP kiến trúc và xây dựng GreenHouse Việt Nam" /></a>
        </div>
        <a class="menu-mobile__button">
            <i class="fa fa-bars"></i>
        </a>
        <nav class="menu-mobile hidden">
            <ul class="ul--no-style">
                <li>
                    <a id="header1_HyperLink8" href="./">Trang chủ</a>
		        </li>
                
                        <li>
                            <i class="fa fa-plus menu-mobile__more"></i>
                            <a id="header1_rpt_mbmenu_HyperLink1_0" href="thiet-ke-kien-truc-mid-1.html">Thiết kế kiến trúc</a>
                            
                            
                                    <ul class="ul--no-style hidden">
                                
                                    <li>
                                        <a id="header1_rpt_mbmenu_rpt_mm_0_HyperLink1_0" href="dinh-thu-lau-dai-mid-6.html">Dinh thự lâu đài</a>                                   
                                    </li>
                                
                                    <li>
                                        <a id="header1_rpt_mbmenu_rpt_mm_0_HyperLink1_1" href="biet-thu-co-dien-tan-co-dien-mid-3.html">Biệt thự cổ điển - Tân cổ điển</a>                                   
                                    </li>
                                
                                    <li>
                                        <a id="header1_rpt_mbmenu_rpt_mm_0_HyperLink1_2" href="biet-thu-hien-dai-mid-2.html">Biệt thự hiện đại</a>                                   
                                    </li>
                                
                                    <li>
                                        <a id="header1_rpt_mbmenu_rpt_mm_0_HyperLink1_3" href="thiet-ke-nha-pho-hien-dai-mid-12.html">Thiết kế nhà phố hiện đại</a>                                   
                                    </li>
                                
                                    <li>
                                        <a id="header1_rpt_mbmenu_rpt_mm_0_HyperLink1_4" href="nha-pho-co-dien---tan-co-dien-mid-13.html">Nhà phố cổ điển - tân cổ điển</a>                                   
                                    </li>
                                
                                    <li>
                                        <a id="header1_rpt_mbmenu_rpt_mm_0_HyperLink1_5" href="khach-san---nha-hang-mid-7.html">Khách sạn - nhà hàng</a>                                   
                                    </li>
                                
                                    </ul>
                                
                        </li>
                    
                        <li>
                            <i class="fa fa-plus menu-mobile__more"></i>
                            <a id="header1_rpt_mbmenu_HyperLink1_1" href="noi-that-mid-4.html">Nội thất</a>
                            
                            
                                    <ul class="ul--no-style hidden">
                                
                                    <li>
                                        <a id="header1_rpt_mbmenu_rpt_mm_1_HyperLink1_0" href="thiet-ke-noi-that-mid-5.html">Thiết kế nội thất</a>                                   
                                    </li>
                                
                                    <li>
                                        <a id="header1_rpt_mbmenu_rpt_mm_1_HyperLink1_1" href="san-pham-noi-that-mid-11.html">Sản phẩm nội thất</a>                                   
                                    </li>
                                
                                    </ul>
                                
                        </li>
                    
                        <li>
                            <i class="fa fa-plus menu-mobile__more"></i>
                            <a id="header1_rpt_mbmenu_HyperLink1_2" href="san-vuon-mid-8.html">Sân vườn</a>
                            
                            
                                    <ul class="ul--no-style hidden">
                                
                                    <li>
                                        <a id="header1_rpt_mbmenu_rpt_mm_2_HyperLink1_0" href="thiet-ke-san-vuon-mid-9.html">Thiết kế sân vườn</a>                                   
                                    </li>
                                
                                    <li>
                                        <a id="header1_rpt_mbmenu_rpt_mm_2_HyperLink1_1" href="thi-cong-san-vuon-mid-10.html">Thi công sân vườn</a>                                   
                                    </li>
                                
                                    </ul>
                                
                        </li>
                    
                <li>
                    <i class="fa fa-plus menu-mobile__more"></i>
                    <a id="header1_HyperLink21" title="Dịch vụ" href="dich-vu.html">Dịch vụ</a>
                    
                            <ul class="ul--no-style hidden">
                        
                            <li>
                                <a id="header1_rpt_mbservices_HyperLink2_0" title="Thiết kế kiến trúc" href="thiet-ke-kien-truc-sid-1.html">Thiết kế kiến trúc</a>
                            </li>
                        
                            <li>
                                <a id="header1_rpt_mbservices_HyperLink2_1" title="Thiết kế nội thất" href="thiet-ke-noi-that-sid-2.html">Thiết kế nội thất</a>
                            </li>
                        
                            <li>
                                <a id="header1_rpt_mbservices_HyperLink2_2" title="Xưởng đóng đồ nội thất" href="xuong-dong-do-noi-that-sid-3.html">Xưởng đóng đồ nội thất</a>
                            </li>
                        
                            <li>
                                <a id="header1_rpt_mbservices_HyperLink2_3" title="Xây nhà trọn gói" href="xay-nha-tron-goi-sid-4.html">Xây nhà trọn gói</a>
                            </li>
                        
                            <li>
                                <a id="header1_rpt_mbservices_HyperLink2_4" title="Thiết kế - thi công sân vườn" href="thiet-ke---thi-cong-san-vuon-sid-5.html">Thiết kế - thi công sân vườn</a>
                            </li>
                        
                            </ul>
                        
                </li>
               
                        <li>
                            <i class="fa fa-plus menu-mobile__more"></i>
                            <a id="header1_rpt_mbmnews_HyperLink2_0" title="Tin tức" href="tin-tuc-nid-1.html">Tin tức</a>                            
                            
                            
                                    <ul class="ul--no-style hidden">
                                
                                    <li>
                                        <a id="header1_rpt_mbmnews_rpt_mm_0_HyperLink2_0" title="Dự án nổi bật" href="du-an-noi-bat-nid-6.html">Dự án nổi bật</a>
                                    </li>
                                
                                    <li>
                                        <a id="header1_rpt_mbmnews_rpt_mm_0_HyperLink2_1" title="Sự kiện Green House" href="su-kien-green-house-nid-2.html">Sự kiện Green House</a>
                                    </li>
                                
                                    <li>
                                        <a id="header1_rpt_mbmnews_rpt_mm_0_HyperLink2_2" title="Tư vấn xây nhà" href="goc-bao-chi-nid-3.html">Tư vấn xây nhà</a>
                                    </li>
                                
                                    </ul>
                                
                        </li>
                                
		        <li>
                    <a id="header1_HyperLink9" href="lien-he.html">Liên hệ</a>
		        </li>
            </ul>
        </nav>
    </div>
</header>
@*<div class ="h1 bg-dark text-center cl-gold">
    UỐNG NƯỚC NHỚ NGUỒN
</div>*@
@RenderBody()

<footer class="construct">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-6 col-6">
                <div class ="pb-30"><img id="footer1_img" class="img-responsive" src="~/upload/icon/20-5-2019/biet-thu-phap-59.png" alt="Công ty CP kiến trúc và xây dựng GreenHouse Việt Nam" /></div>
                <div class ="title-4 cl-gold">
                    Công ty CP kiến trúc và xây dựng GreenHouse Việt Nam
                </div>
                <p>
                    Thương hiệu Green House Việt Nam được chọn với ý nghĩa “Ngôi nhà xanh”, ngôi nhà có sức sống, luôn vươn lên, thuận theo tự nhiên, đó cũng là ngôi nhà sinh thái, luôn gần gũi, hoà hợp với thiên nhiên để mang đến cảm giác bình yên cho con người.
                </p>
                <ul class="social">
                    <li><a href="https://www.facebook.com/GreenHouse.jsc" id="footer1_facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.youtube.com/user/greenhousevietnam" id="footer1_youtube" target="_blank"><i class="fa fa-youtube"></i></a></li>
                    <li><a id="footer1_pinterest" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="javascript:void(0)" id="footer1_tweeter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                <div class ="title-4 cl-gold">Trụ sở Green House Việt Nam</div>
                <ul class="contact-info">
                    <li><i class="fa fa-map-marker"></i> <span class="text">Số 48 liền kề 11B, khu đô thị Mỗ Lao, quận Hà Đông, TP. Hà Nội</span></li>
                    <li><i class="fa fa-phone"></i> <span class="text">0818.932.555 - Hotline: 0948.932.555</span></li>
                    <li><i class="fa fa-envelope-o"></i> <span class="text">kientrucnhavn@gmail.com</span></li>
                    <li><i class="fa fa-globe"></i> <span class="text">https://bietthuphap.com.vn</span></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                
                        <div class ="title-4 cl-gold">
                            Chi nhánh TP Hồ Chí Minh
                        </div>
                        <ul class="contact-info">
                            <li><i class="fa fa-map-marker"></i> <span class="text">Số 2279/47 Huỳnh Tấn Phát - Quận 7</span></li>
                            <li><i class="fa fa-phone"></i> <span class="text">0948.932.555</span></li>
                        </ul>
                    
                        <div class ="title-4 cl-gold">
                            Chi nhánh Bắc Giang
                        </div>
                        <ul class="contact-info">
                            <li><i class="fa fa-map-marker"></i> <span class="text">Số 102 Nguyễn Thị Lưu 2 - Bắc Giang</span></li>
                            <li><i class="fa fa-phone"></i> <span class="text">0948.932.555</span></li>
                        </ul>
                    
                        <div class ="title-4 cl-gold">
                            Chi nhánh Cần Thơ
                        </div>
                        <ul class="contact-info">
                            <li><i class="fa fa-map-marker"></i> <span class="text">Số 36 Lê Lai - P.An Phú, Quận Ninh Kiều, TP.Cần Thơ</span></li>
                            <li><i class="fa fa-phone"></i> <span class="text">0948.932.555</span></li>
                        </ul>
                    
            </div>
        </div>
    </div>
</footer>
<section id="bottom-bar" class="construct">
	<div class="container">
        <div class ="row">
		    <div class="col-12 col-sm-6 copyright text-left">
			    Copyright © Green House Việt Nam. All rights reserved. 
		    </div>
		    <div class="col-12 col-sm-6 credit text-right">
			    Thiết kế và phát triển bởi: <a href="https://vietads.net.vn" title="thiết kế website VIETADS" target="_blank">www.vietads.net.vn</a>	
		    </div>
        </div>
	</div> 
</section>
<div style ="height:0;width:0;overflow:hidden">
    <!-- Global site tag (gtag.js) - Google Ads: 877619661 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-877619661"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-877619661');
</script>
<!-- Load Facebook SDK for JavaScript -->
      <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            xfbml            : true,
            version          : 'v7.0'
          });
        };

        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <!-- Your Chat Plugin code -->
      <div class="fb-customerchat"
        attribution=setup_tool
        page_id="244415315703343"
  theme_color="#b38d45"
  logged_in_greeting="Gửi yêu cầu cho Green House Việt Nam?"
  logged_out_greeting="Gửi yêu cầu cho Green House Việt Nam?">
      </div>

</div>
<div class="footer-fixed">
    <ul>
        <li>
            <a href ="https://bietthuphap.com.vn/catalogue.pdf" target ="_blank" title ="Hồ sơ năng lực">
                <i class="fa fa-download" aria-hidden="true"></i> Hồ sơ năng lực
            </a>            
        </li>
        <li>
            <a href ="https://bietthuphap.com.vn/quy-trinh-lam-viec-cua-greenhouse-viet-nam-sid-6" target ="_blank" title ="Quy trình làm việc">
                <i class="fa fa-crosshairs" aria-hidden="true"></i> Quy trình làm việc
            </a>            
        </li>
        <li>
            <a href ="https://bietthuphap.com.vn/album" target ="_blank" title ="Hình ảnh thực tế">
                <i class="fa fa-building-o" aria-hidden="true"></i> Hình ảnh thực tế
            </a>            
        </li>
        <li class ="ft-hotline">
            <a href="tel:0948932555" id="footer1_hotline1" target="_blank">
                <span>
                    <i class="fa fa-phone" aria-hidden="true"></i>
                </span>
                <strong>
                    0948.932.555
                </strong>
            </a>           
        </li>
    </ul>
</div>
<div class="mobile-hotline">
    <div class ="mb-mobile">
        <div class="mobile-hotline-left">
            <a href="https://zalo.me/0948932555" id="footer1_zalo" target="_blank">
                <span>
                    <img id="footer1_Image1" src="~/upload/icon/zalo.png" alt="Zalo : 0936.262.282" />
                </span>
                <strong>
                    0948932555
                </strong>
            </a>
        </div>
        <div class="mobile-hotline-right">
            <a href="tel:0948932555" id="footer1_hotline" target="_blank">
                <span>
                    <img id="footer1_Image3" src="~/upload/icon/phone.png" alt="hotline" />
                </span>
                <strong>
                    0948.932.555
                </strong>
            </a>
        </div>
    </div>
</div>
    
    <!-- =================== PLUGIN JS ==================== -->
    
    <script src="~/js/jquery.nivo.slider.js"></script>
    <script type="text/javascript">
        $(window).load(function () {
            $('#slider').nivoSlider();
        });
    </script> 
    <script src="~/js/menu.js"></script> 
    <script src="~/vendor/wow/wow.min.js" type="text/javascript"></script>
    <script src="~/vendor/lightbox2/~/js/lightbox.js" type="text/javascript"></script>
    <script src="~/vendor/bootstrap4/popper.min.js" type="text/javascript"></script>
    <script src="~/vendor/bootstrap4/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/vendor/owl-carousel/owl.carousel.min.js" type="text/javascript"></script>
    <script src="~/vendor/revolution/jquery.themepunch.revolution.min.js" type="text/javascript"></script>
    <script src="~/vendor/revolution/jquery.themepunch.tools.min.js" type="text/javascript"></script>
    <!-- Local Revolution -->
    <script type="text/javascript" src="~/vendor/revolution/local/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="~/vendor/revolution/local/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="~/vendor/revolution/local/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="~/vendor/revolution/local/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="~/vendor/revolution/local/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="~/vendor/revolution/local/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="~/vendor/revolution/local/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="~/vendor/revolution/local/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="~/vendor/revolution/local/revolution.extension.video.min.js"></script>
    
    
    <script type="text/javascript">
        $(document).ready(function () {
            lightbox.option({
                'resizeDuration': 200,
                'wrapAround': false,
                'alwaysShowNavOnTouchDevices': true,
            });
        });
    </script>
    
    <!-- =================== CUSTOM JS ==================== -->
    <script type="text/javascript" src="~/js/main.js"></script>
    <script type="text/javascript" src="~/js/revo-custom.js"></script>
    <script type="text/javascript" src="~/js/wow-custom.js"></script>
    <script>
        $(document).ready(function () {
            // Configure/customize these variables.
            var showChar = 200;  // How many characters are shown by default
            var ellipsestext = "...";
            var moretext = "<i class=\"fa fa-plus-square\" aria-hidden=\"true\"></i>";
            var lesstext = "<i class=\"fa fa-minus-square\" aria-hidden=\"true\"></i>";


            $('.more').each(function () {
                var content = $(this).html();

                if (content.length > showChar) {

                    var c = content.substr(0, showChar);
                    var h = content.substr(showChar, content.length - showChar);

                    var html = c + '<span class="moreellipses">' + ellipsestext + '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink"><i class="fa fa-plus-square" aria-hidden="true"></i></a></span>';

                    $(this).html(html);
                }

            });

            $(".morelink").click(function () {
                if ($(this).hasClass("less")) {
                    $(this).removeClass("less");
                    $(this).html(moretext);
                } else {
                    $(this).addClass("less");
                    $(this).html(lesstext);
                }
                $(this).parent().prev().toggle();
                $(this).prev().toggle();
                return false;
            });
        });
    </script>
    <script type="text/javascript" src="~/js/jquery.twbsPagination.js"></script>
    <script type="text/javascript" src="~/js/OrgChartJS/orgchart.js"></script>

</body>
</html>
