@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="h1 bg-dark text-center cl-gold">
    GIA PHẢ
</div>*@
<section class="blog blog-3 bg--f8 bor-none">
    <div class="container-fluid">
        <div class="row" id="resultGiaPha">
            
        </div>
        <div class="main-content wow slideInUp bor-contact">
            <div class="row ml-5">
                <div class="col-sm-4">
                    <div class="row col-sm-12">
                        <p>Các ngày lễ giỗ:</p>
                    </div>
                    <div class="row col-sm-10">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Tên</th>
                                    <th scope="col">Ngày</th>
                                </tr>
                            </thead>
                            <tbody id="tblNgayLeGio">
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row col-sm-12">
                        <p>Tổng quan gia phả:</p>
                    </div>
                    <div class="row col-sm-10">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Tiêu chí</th>
                                    <th scope="col">Số lượng</th>
                                </tr>
                            </thead>
                            <tbody id="resultTongQuan">
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row col-sm-12">
                        <p>Thông tin người quản lý gia phả này:</p>
                    </div>
                    <div class="row col-sm-10">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Đặc điểm</th>
                                    <th scope="col">Chi tiết</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Người làm</th>
                                    <td>Ông Hồ Thắng - Hồ Tư</td>
                                </tr>
                                <tr>
                                    <th scope="row">Địa chỉ</th>
                                    <td>Tổ 4 Phường Trần Phú - Tp Hà Tĩnh</td>
                                </tr>
                                <tr>
                                    <th scope="row">Điện thoại</th>
                                    <td>0949504962-0914163678</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="parallax--slide-re-pro">
    <div class="section-content section-content--w1792">
        <div class="partner-wrap owl-carousel owl-theme" id="owl-partner">

            <div class="partner__item item">
                <a id="footer1_rpt_partner_HyperLink1_0"><img id="footer1_rpt_partner_Image1_0" class="img-responsive" src="~/upload/partner/dong-duong-2.png" alt="Đông dương" /></a>
            </div>

            <div class="partner__item item">
                <a id="footer1_rpt_partner_HyperLink1_1"><img id="footer1_rpt_partner_Image1_1" class="img-responsive" src="~/upload/partner/dulux-65.png" alt="Dulux" /></a>
            </div>

            <div class="partner__item item">
                <a id="footer1_rpt_partner_HyperLink1_2"><img id="footer1_rpt_partner_Image1_2" class="img-responsive" src="~/upload/partner/logo-euro-62.png" alt="Euro windows" /></a>
            </div>

            <div class="partner__item item">
                <a id="footer1_rpt_partner_HyperLink1_3"><img id="footer1_rpt_partner_Image1_3" class="img-responsive" src="~/upload/partner/inax-27.png" alt="Linax" /></a>
            </div>

            <div class="partner__item item">
                <a id="footer1_rpt_partner_HyperLink1_4"><img id="footer1_rpt_partner_Image1_4" class="img-responsive" src="~/upload/partner/jotun-74.png" alt="Jotun" /></a>
            </div>

        </div>
    </div>
</section>

@*<div class="h1 bg-dark text-center cl-gold">
    GIA PHẢ
    </div>
<section class="blog blog-3 bg--f8 bor-none">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title title-2 cl-gold title-bor">
                    <span class="title-heading">
                        Thông tin ông Nguyễn...
                    </span>
                    <span class="bot-title">
                    </span>
                </h3>
            </div>
            <div class="title-name title-4">
                <h3 class="cl-gold">
                    THỦY TỔ DÒNG HỌ - ĐỜI THỨ I
                </h3>
                <h4 class="cl-gold">Địa chỉ: Xã Thanh Yên, Huyện Thanh Chương, Tỉnh Nghệ An</h4>
            </div>
        </div>
        <div class="main-content wow slideInUp bor-contact">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div style="margin:auto"><img src="/upload/product/thumb/1-10-2021/mau-thiet-ke-nha-hang-phong-cach-indochine-tai-bac-giang-cdt-anh-tung-1-28.jpg" style="width: 200px; height: auto;"></div>
                        </div>
                        <div class="row" style="margin-top:10px">
                            <div class="col-md-4">Họ và tên</div>
                            <div class="col-md-8">Bùi Bá Đông</div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">Giới tính</div>
                            <div class="col-md-8">Nam</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">Thuộc</div>
                            <div class="col-md-8">Đời 1, là con thứ 1 trong gia đình</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">Tình trạng</div>
                            <div class="col-md-8">Đã mất</div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">Năm mất</div>
                            <div class="col-md-8"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">An táng</div>
                            <div class="col-md-8">Rú Ó, Xã Thanh Yên, Huyện Thanh Chương</div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="col-md-12" align="center" style="margin-top:20px; margin-bottom:10px"><div class="tab-page-long active"><a href="#">Danh sách vợ</a></div></div>
                        <div class="row">
                            <div class="col-md-3" align="center"><b>THỨ</b></div>
                            <div class="col-md-3"><b>HỌ VÀ TÊN VỢ</b></div>
                            <div class="col-md-3" align="center"><b>NĂM SINH</b></div>
                            <div class="col-md-3" align="center"><b>TÌNH TRẠNG</b></div>
                        </div>

                        <div class="row">
                            <div class="col-md-3" align="center">1</div>
                            <div class="col-md-3"><a href="?giaphangoai=26&amp;ho-thi-tay.html" title="Xem thông tin về Bà Hồ Thị Tây">Hồ Thị Tây</a></div>
                            <div class="col-md-3" align="center">&nbsp;Không rõ</div>
                            <div class="col-md-3" align="center">Đã mất</div>
                        </div>

                        <div class="col-md-12" align="center" style="margin-top:20px; margin-bottom:10px"><div class="tab-page-long active"><a href="#">Danh sách con</a></div></div>
                        <div class="row">
                            <div class="col-md-3" align="center"><b>THỨ</b></div>
                            <div class="col-md-3"><b>HỌ VÀ TÊN</b></div>
                            <div class="col-md-3"><b>NĂM SINH</b></div>
                            <div class="col-md-3"><b>TÌNH TRẠNG</b></div>
                        </div>

                        <div class="row">
                            <div class="col-md-3" align="center">1</div>
                            <div class="col-md-3"><a href="?giapha=24&amp;bui-huu-hoc.html" title="Xem thông tin về Ông Bùi Hữu Học">Bùi Hữu Học</a></div>
                            <div class="col-md-3" align="center">&nbsp;</div>
                            <div class="col-md-3" align="center">Đã mất</div>
                        </div>

                        <div class="row">
                            <div class="col-md-3" align="center">2</div>
                            <div class="col-md-3"><a href="?giapha=25&amp;bui-huu-ban.html" title="Xem thông tin về Ông Bùi Hữu Bản">Bùi Hữu Bản</a></div>
                            <div class="col-md-3" align="center">&nbsp;</div>
                            <div class="col-md-3" align="center">Đã mất</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="parallax--slide-re-pro">
    <div class="section-content section-content--w1792">
        <div class="partner-wrap owl-carousel owl-theme" id="owl-partner">

            <div class="partner__item item">
                <a id="footer1_rpt_partner_HyperLink1_0"><img id="footer1_rpt_partner_Image1_0" class="img-responsive" src="~/upload/partner/dong-duong-2.png" alt="Đông dương" /></a>
            </div>

            <div class="partner__item item">
                <a id="footer1_rpt_partner_HyperLink1_1"><img id="footer1_rpt_partner_Image1_1" class="img-responsive" src="~/upload/partner/dulux-65.png" alt="Dulux" /></a>
            </div>

            <div class="partner__item item">
                <a id="footer1_rpt_partner_HyperLink1_2"><img id="footer1_rpt_partner_Image1_2" class="img-responsive" src="~/upload/partner/logo-euro-62.png" alt="Euro windows" /></a>
            </div>

            <div class="partner__item item">
                <a id="footer1_rpt_partner_HyperLink1_3"><img id="footer1_rpt_partner_Image1_3" class="img-responsive" src="~/upload/partner/inax-27.png" alt="Linax" /></a>
            </div>

            <div class="partner__item item">
                <a id="footer1_rpt_partner_HyperLink1_4"><img id="footer1_rpt_partner_Image1_4" class="img-responsive" src="~/upload/partner/jotun-74.png" alt="Jotun" /></a>
            </div>

        </div>
    </div>
</section>
*@
<script type="text/javascript" src="~/Scripts/VNGP/TocHo/vngp_TocHo_Detail.js"></script>