
@{
    ViewData["Title"] = "ThanhVien";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="blog blog-3 bg--f8 bor-none">
    <div class="container-fluid" id="resultThanhVien">
        
    </div>
</section>

<section class="parallax--slide-re-pro">
    <div class="section-content section-content--w1792">
        <div class="partner-wrap owl-carousel owl-theme" id="owl-partner">

            <div class="partner__item item">
                <a id="footer1_rpt_partner_HyperLink1_0"><img id="footer1_rpt_partner_Image1_0" class="img-responsive" src="~/upload/partner/dong-duong-2.png" alt="Đông dương" /></a>
            </div>

            <div class="partner__item item">
                <a id="footer1_rpt_partner_HyperLink1_1"><img id="footer1_rpt_partner_Image1_1" class="img-responsive" src="~/upload/partner/dulux-65.png" alt="Dulux" /></a>
            </div>

            <div class="partner__item item">
                <a id="footer1_rpt_partner_HyperLink1_2"><img id="footer1_rpt_partner_Image1_2" class="img-responsive" src="~/upload/partner/logo-euro-62.png" alt="Euro windows" /></a>
            </div>

            <div class="partner__item item">
                <a id="footer1_rpt_partner_HyperLink1_3"><img id="footer1_rpt_partner_Image1_3" class="img-responsive" src="~/upload/partner/inax-27.png" alt="Linax" /></a>
            </div>

            <div class="partner__item item">
                <a id="footer1_rpt_partner_HyperLink1_4"><img id="footer1_rpt_partner_Image1_4" class="img-responsive" src="~/upload/partner/jotun-74.png" alt="Jotun" /></a>
            </div>

        </div>
    </div>
</section>
<script type="text/javascript" src="~/Scripts/VNGP/ThanhVien/vngp_ThanhVien_Index.js"></script>