@{
    ViewData["Title"] = "TocHoDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="we-are">
    <div class="container-full">
        <div class="row no-gutters">
            <div class="col-lg-6 col-md-6 col-sm-6 col-6 wow slideInLeft" data-wow-delay=".6s">
                <div class ="list-bt"></div>
                <div class ="list-lr"></div>
                <div class ="list-it"></div>
                <div class ="list-ib"></div>  
                <div class="we-are__left">                
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/mm_ydMijl5o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-6 wow slideInRight" data-wow-delay=".6s">
            <div class="we-are__right">
                <h1 class ="cl-gold">
                    Việt Nam Gia Phả
                </h1>
                <p style="text-align:justify">
Gia phả học là một ngành của khoa học lịch sử. Sử sách ghi lại những sự kiện của đất nước, 
Gia phả ghi lại những sự kiện của gia đình và dòng họ. 
Đối tượng của gia phả học là gia đình và dòng họ. 
Gia phả học có mối quan hệ và sự tác động qua lại của với các môn khoa học về con người. 
Gia phả xuất hiện ở Phương Tây và Phương Đông từ xa xưa.                   
                </p>

            </div>
            </div>            
        </div>
        <div class ="break-item wow slideInUp" data-wow-delay=".6s"></div>
        <div class="row main-content wow slideInUp" data-wow-delay=".6s">
            <div class ="col-12">
                <p style="text-align:center"><img alt="thiết kế biệt thự pháp" src="~/upload/giapha/lydotontai-background.jpg" style="height:803px; width:1200px" /></p>

                <div>
                    <p>Một cuốn Gia phả soạn cẩn thận, đúng thông lệ, chính xác…sẽ có nhiều ý nghĩa quan trọng không chỉ cho Gia tộc mà cho cả làng xã đất nước. </p>
<p>Khi dòng tộc chưa có Gia phả thì mọi chuyện về tổ tiên, truyền thống dòng họ, về từng người, sự việc… chỉ dựa vào ký ức và truyền ngôn rất dễ “tam sao thất bản”, dẫn đến dứt hẳn.</p>
<p>Dòng họ không có phả, gọi là dòng họ khuyết phả và con cháu trong họ không thể hình dung được để mà phát huy đúng truyền thống tích tụ của tiền nhân trong dòng tộc; khi được thụ hưởng, thừa kế về vật chất (đất đai, nhà cửa) hoặc về tinh thần (tài năng, ngành nghề, bí truyền…) cũng không hiểu được những thứ mình được thừa hưởng đó do đâu và từ đâu đến do vậy khó bền vững, phát huy được.</p>
<br/>
<p>1. Khi đã có Gia phả được soạn thảo công phu, xác thực và được giữ cẩn trọng, cập nhật thường xuyên thì sự việc diễn ra trong quá khứ sẽ đượclưu giữ chính xác, bền vững và lan truyền xa rộng.</p>
<p>2. Trước hết Gia phả là cuốn sách đặc biệt làm tăng lòng hiếu kính, biết ơn của hậu thế với tiền nhân, tăng tình thân giữa các thành viên trong họ mạc. Do vậy có sức lôi cuốn, có sức cảm hóa mạnh mẽ các lớp cháu con. Dòng họ có phả lại được khai thác tốt con cháu sẽ tự tin, tự hào về truyền thống tốt đẹp của dòng họ mình để củng cố niềm tin, vững bước đi lên cũng như đất nước có “Sử thư” thì cương vực sẽ được giữ vững, cơ đồ phát triển mạnh:</p>
<p>皇图巩固國有史書 Hoàng đồ củng cố, Quốc hữu Sử thư,</p>
<p>祖德流徽家存譜志 Tổ đức lưu huy, Gia tồn Phả chí !</p>
<p>3. Gia phả giúp người ta nhớ ngày giỗ của tổ tiên, ông bà, cha mẹ. Sau đó, là cho con cháu biết nguồn gốc gia tộc từ đâu đến đâu, họ hàng trên dưới xa gần ra sao. Nhờ có gia phả mà con cháu các đời sau mới hiểu ngọn ngành, tông chỉ nhà mình. Ngày nay, với công nghệ hiện đại, có thể ứng dụng việc xét nghiệm gen ADN để nhận họ. Song đó chỉ đơn thuần về mặt kỹ thuật sinh học, nó không thể xác định được quan hệ trên dưới, xa gần…, tức không thể thay Gia phả. được. Người xưa quan niệm: trong một nhà một họ mà gốc rễ không tường tận, thì trong con cháu thường xảy ra những chuyện có hại cho gia đạo. Có gia phả, con cháu sẽ nắm chắc ngày giỗ ông bà, không cưới gả với người trong họ, nắm rõ thứ thế để trong giao tiếp, cư sử. Đó là một phong tục hay của người Việt.</p>
                </div>
                

            </div>
        </div>
    </div>
</section>
    
<section class="parallax--slide-re-pro">
    <div class="section-content section-content--w1792">
        <div class="partner-wrap owl-carousel owl-theme" id="owl-partner">
            
                    <div class="partner__item item">
                        <a id="footer1_rpt_partner_HyperLink1_0"><img id="footer1_rpt_partner_Image1_0" class="img-responsive" src="~/upload/partner/dong-duong-2.png" alt="Đông dương" /></a>
                    </div>
                
                    <div class="partner__item item">
                        <a id="footer1_rpt_partner_HyperLink1_1"><img id="footer1_rpt_partner_Image1_1" class="img-responsive" src="~/upload/partner/dulux-65.png" alt="Dulux" /></a>
                    </div>
                
                    <div class="partner__item item">
                        <a id="footer1_rpt_partner_HyperLink1_2"><img id="footer1_rpt_partner_Image1_2" class="img-responsive" src="~/upload/partner/logo-euro-62.png" alt="Euro windows" /></a>
                    </div>
                
                    <div class="partner__item item">
                        <a id="footer1_rpt_partner_HyperLink1_3"><img id="footer1_rpt_partner_Image1_3" class="img-responsive" src="~/upload/partner/inax-27.png" alt="Linax" /></a>
                    </div>
                
                    <div class="partner__item item">
                        <a id="footer1_rpt_partner_HyperLink1_4"><img id="footer1_rpt_partner_Image1_4" class="img-responsive" src="~/upload/partner/jotun-74.png" alt="Jotun" /></a>
                    </div>
                            
        </div>
    </div>
</section>